@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At QuickBites we take the privacy of our customers and their information very seriously. 
    This policy outlines how we use your data and protect your privacy.
    We may collect information about our customers such as name, address, phone numbers, e-mail addresses. In .
    We use contact information to manage the process of your Delivery. We also may use your information to send you updates we think might be of interest, special offers and news if you opt-in to marketing.
    Please note we will not pass your information on to any third party for the purpose of marketing.
    When you make an order on the Portrait Restaurant website, we use secure server software that encrypts all information you input before sending it to us. This ensures that the information you provide is reasonably protected against unauthorised interception.
</p>
